SECRET_KEY=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_SDK_KEY=
ZOOM_SDK_SECRET=
ZOOM_WEBHOOK_SECRET_TOKEN=
MAILTRAP_API_KEY=
MAILTRAP_INBOX_ID=
MAILTRAP_FROM_EMAIL=
MAILTRAP_FROM_NAME=
